@mixin headerFont($fontSize, $color, $weight) {
    // font-family: 'Zilla Slab', serif;
    font-family: 'Libre Franklin', sans-serif;
    font-size: $fontSize; 
    color: $color; 
    font-weight: $weight;
    line-height: 2rem;
}

@mixin bodyFont($fontSize, $color) {
    font-family: 'Zilla Slab', serif;
    // font-family: 'Libre Franklin', sans-serif;
    font-size: $fontSize;
    color: $color;  
}