// Colors
$primary: #EFE36A;
$secondary: #FAF4DE; 

$headingsBackground: #6db6a2;
$headingsColour: #FFFFFF;

$buttons: #2C6970;
$darkBrown: #34322D;

$brown: #6C5D45;
$yellow: #EFE36A; 
$orange: #D46E0D; 
$turquoise: #11A6BF; 

$taupe: #E6E1CF;
