header { 
  min-height: 700px; 
  background-image: url(../assets/hero.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
  margin-bottom: 0; 
}

.header {
  width: auto; 
  min-height: 100%; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: space-evenly;
  padding-top: 2rem;
}


h1 {
  @include headerFont(3rem, $brown, 700);
    background-color: $secondary; 
    padding: 1.5rem; 
    text-transform: uppercase; 
    border-radius: 15px; 
}

.welcomeBox {
  background-color: $brown; 
  width: 80%;  
  padding: 3rem; 
  border-radius: 1rem; 
  position: absolute; 
  bottom: -3rem; 
  text-align: center; 
}

.wrapper { 
  width: 90%; 
  margin: 0 auto; 
  padding: 5rem 0; 
}

h2 { 
  @include headerFont (2.8rem, $secondary, 700);
  margin: 0 0 2rem; 
  text-align: center; 
}

.start {
  text-align: center; 
}

.startHeading {
  background-color: $yellow;  
  display: inline-block; 
}
