.modal {
  font-family: 'Libre Franklin', sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0 , 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
  &Wrapper {
    width: 500px;
    border-radius: 20px;
  }

  &Img {
    height: 60px;
  }

  &Heading {
    text-transform: capitalize;
    font-size: 1.5rem;
    margin-left: 10px;
  }
  
  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $headingsBackground;;
    padding: 0 30px;
    margin: 0;
    border-radius: 20px 20px 0 0;

    &Content {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  &Close {
    font-size: 28px;
    font-weight: bold;
    margin: 0;

    &:hover, &:focus {
      cursor: pointer;
    }
  }
  
  &Content {
    background-color: $secondary;
    padding: 20px;
    border-top: 3px solid $yellow; 
    border-bottom: 3px solid $yellow; 

    &Item {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &Label {
      font-weight: bold;
      background: $brown;
      color: white;
      border-radius: 10px;
      text-align: center;
      width: 100px;
      padding: 10px;
      margin: 20px;
    }

    &Text {
      font-weight: bold;
      text-align: left;
      padding: 10px;
      background: white;
      width: 100%;
      border-radius: 10px;
    }
  }

  &Footer {
    background-color: $headingsBackground;
    height: 50px;
    border-radius: 0 0 20px 20px;
  }
}


.hidden {
  display: none;
}