.inputSection {
  background-color: $headingsBackground; 
  width: 100%; 
  height: 100%; 
  margin: auto; 
  border-radius: 1rem; 
  padding: 5% 0;
  position: relative;   
  
}

.inputBox {
  background-color: $secondary;
  width: 80%;  
  height: 90%; 
  margin: 0 auto;
  border: 8px solid $yellow; 
  border-radius: 1rem;
  
}

form { 
  margin: 0 auto; 
  width: 80%;  
}

.inputBox label {
  font-family: 'Libre Franklin', sans-serif; 
  color: $secondary; 
  background-color: $brown; 
  padding: .5rem; 
  border-radius: .5rem;  
  width: 8rem;
  display: inline-block;
  text-align: center; 
} 


.inputBox select, 
.inputBox input {  
  margin: 2rem -50% 2rem 50%;
}

button {
  border: none; 
  border-radius: .5rem; 
  background-color: $buttons; 
  color: $secondary; 
  padding: .5rem;  
} 

.inputNookImg {
  position: absolute; 
  bottom: -2rem; 
  left: 0; 
}