html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

p {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  color: #FAF4DE;
}

main {
  background-image: url(../assets/pattern-leaves-white.jpg);
}

header {
  background-image: url(../assets/hero.jpg);
  height: 80vh;
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.acnhLogo {
  position: absolute;
  top: 30%;
  margin-left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 3rem;
  color: #6C5D45;
  font-weight: 700;
  line-height: 1rem;
  position: absolute;
  bottom: 10%;
  margin-left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 1.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.welcomeBox {
  background-color: #6C5D45;
  width: 80%;
  padding: 3rem;
  border-radius: 1rem;
  margin: 0 auto;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.8rem;
  color: #FAF4DE;
  font-weight: 700;
  line-height: 1rem;
  margin-top: 0;
  text-align: center;
}

h3 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2.5rem;
  color: #6C5D45;
  font-weight: 700;
  line-height: 1rem;
  margin: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.start {
  background-color: #EFE36A;
}

.inputSection {
  background-color: #6db6a2;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 1rem;
  padding: 5% 0;
  position: relative;
}

.inputBox {
  background-color: #FAF4DE;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  border: 8px solid #EFE36A;
  border-radius: 1rem;
}

form {
  margin: 0 auto;
  width: 80%;
}

.inputBox label {
  font-family: "Libre Franklin", sans-serif;
  color: #FAF4DE;
  background-color: #6C5D45;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 8rem;
  display: inline-block;
  text-align: center;
}

.inputBox select,
.inputBox input {
  margin: 2rem -50% 2rem 50%;
}

button {
  border: none;
  border-radius: 0.5rem;
  background-color: #2C6970;
  color: #FAF4DE;
  padding: 0.5rem;
}

.inputNookImg {
  position: absolute;
  bottom: -2rem;
  left: 0;
}

.critters {
  margin-top: 5rem;
  background-color: #FAF4DE;
  border: 8px solid #2C6970;
  border-radius: 1rem;
  position: relative;
}

.critters ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.critters li {
  margin: 1rem auto;
  border: 3px solid #6C5D45;
  border-radius: 50%;
}

.critters li:hover,
.critters li:focus {
  border-color: #EFE36A;
}

.crittersImgTimTom {
  width: 20%;
  position: absolute;
  bottom: -2rem;
  right: -2rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modalWrapper {
  width: 500px;
  border-radius: 20px;
}
.modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #11A6BF;
  padding: 0;
  margin: 0;
  border-radius: 20px 20px 0 0;
}
.modalHeaderContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modalClose {
  font-size: 28px;
  font-weight: bold;
}
.modalClose:hover, .modalClose:focus {
  cursor: pointer;
}
.modalContent {
  background-color: #FAF4DE;
}
.modalFooter {
  background-color: #11A6BF;
  height: 50px;
  border-radius: 0 0 20px 20px;
}

.hidden {
  display: none;
}

footer {
  background-color: #FAF4DE;
  text-align: center;
}

footer p {
  margin: 0;
  font-size: 2rem;
  color: #6C5D45;
}